:root{
  --font-size: 16px;
  --font-color: #333;
}
body{
  background-color: #fff;
  font-size: var(--font-size);
  color: var(--font-color);
}
.flex-centre{
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass{
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  backdrop-filter: blur(10px);
}
