registry=https://registry.npmmirror.com/

publick-hoist-pattern[]=*eslint*
publick-hoist-pattern[]=*prettier*
publick-hoist-pattern[]=*husky*
publick-hoist-pattern[]=*lint-staged*
publick-hoist-pattern[]=core-js

strict-peer-dependencies=false
package-manager-strict=false
enable-pre-post-install-scripts=true
