<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telphone=no">
<title>about _ {{title}}</title>
<meta name="description" content="">
<meta name="keywords" content="">
</head>
<body>
{{include './include/header.art'}}
<h1>page about</h1>
{{if content}}
<p>{{content}}</p>
{{/if}}
<p>{{author}}</p>
{{include './include/footer.art'}}
</body>
</html>